
@{
    ViewBag.Title = "Hello Giraff!";
}

<div class="jumbotron">
    <h1>L8's båtuthyrnings plattform</h1>
    <p class="lead">Hej och välkommen in till min plattform, ovan i menyn kan ni navigera bland olika funktioner, nedan är en kort specifikation.</p>
    <p>För att boka, vänligen välj "Boats" för att sedan välje en bås som passar er, annars kan ni lägga upp drömbåten via samma vy (längs ner "Lägg till båt"). För att avsluta bokningen och återlämna båten. vänligen gå till "Bookings" och mata in ert boknings nummer.</p>
</div>
